<div class="company_info row">
  <div class="col-md-6">
    <p class="info">
      <span class="name">HBlab .,JSC</span>
      <span class="address">Room 3.1, No 1, 329 Dich Vong, Cau Giay, Ha noi</span>
      <span class="phone">Phone(JP): <a href="tel:+818035581906">(+81)0803 5581906</a></span>
      <span class="phone">Phone(VN): <a href="tel:+84974339991">(+84)0974 339 991</a></span>
      <span class="skype">Skype: <a href="skype:nikoniko32111?chat">nikoniko32111</a></span>
    </p>
    <p class="email">
      <span class="title">Email address</span>
      <span class=""><a href="mailto:info@hblab.vn">info@hblab.vn</a></span>
      <span class=""><a href="mailto:info@hblab.vn">info@hblab.vn</a></span>
    </p>
  </div>
  <div class="col-md-6 gmap">
    <!-- <gmap></gmap> -->
  </div>
</div>